/* flickity-illo
------------------------- */

.flickity-illo { background: #ED0; }

.flickity-illo__color1 { fill:#19F; }
.flickity-illo__color2 { fill: #333;}
.flickity-illo__color3 { fill: #FFF;}
.flickity-illo__color4 { fill: #ED0; }
.flickity-illo__color5 { fill: #C25; }
.flickity-illo__thumb { stroke: #333; }
