<div class="big-buttons-container">
  <a class="big-button big-button--fill color0-bg color5-text color3-bg-hover color5-text-hover"
    href="{{sourceUrlPath}}huebee.pkgd.min.js">
    <span class="big-button__plain-text">Download</span>
    <b class="big-button__strong-text">huebee.pkgd.min.js</b>
  </a>
  <a class="big-button big-button--fill color0-bg color5-text color3-bg-hover color5-text-hover"
    href="{{sourceUrlPath}}huebee.css">
    <span class="big-button__plain-text">Download</span>
    <b class="big-button__strong-text">huebee.css</b>
  </a>
  <a class="big-button big-button--outline color5-text color3-bg-hover color5-text-hover"
    href="https://github.com/metafizzy/huebee">
    <span class="big-button__plain-text">Huebee on</span>
    <b class="big-button__strong-text">GitHub</b>
  </a>
</div>
