<a class="gh-button" href="https://github.com/{{ghPath}}" data-js="gh-button">
  <span class="gh-button__title">
    {{> github-logo}}
    <span class="gh-button__title__text">{{project}} on GitHub</span>
  </span>
  <span class="gh-button__stat">
    <svg class="gh-button__icon gh-button__icon--star" viewbox="0 0 896 1024">
      <path d="M896 384l-313-41L448 64 313 343 0 384l230 208L171 895l277-149 277 148L665 593 896 384z" />
    </svg>
    <span class="gh-button__stat__text">{{stars}}</span>
  </span>
</a>
