<div class="shirt-promo" data-js="shirt-promo">
  <a class="shirt-promo__link" href="https://cottonbureau.com/products/refactor">
    <h3 class="shirt-promo__title">Refactor shirts</h3>
    <img class="shirt-promo__image" src="https://i.imgur.com/zLv36oi.jpg" alt="Refactor shirt" />
  </a>
  <p class="shirt-promo__description">Printed on super-soft Next Level t-shirts. Tri-blend Vintage Black or Poly-Cotton Indigo. Available in women's sizes. Makes a chill gift.</p>
</div>
