/* shirt-promo
------------------------- */

.shirt-promo {
  margin: 40px 0;
}

.shirt-promo__title {
  font-size: 1.6rem;
}

.shirt-promo__image {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}
