<footer class="site-footer">

  <div class="container">

    <p class="site-footer__copy">Metafizzy makes delightful web plugins &amp; logos</p>

    {{> showcase}}

    <p class="site-footer__copy">
      <a href="https://twitter.com/metafizzyco">
        {{> twitter-logo}}
        Follow @metafizzyco on Twitter for {{productName}} updates
      </a>
    </p>

    {{> mfzy-brand}}

  </div>

</footer>
