<div class="showcase">

  {{! Logo Pizza showcase banner }}
  <div class="showcase__banner">
    <a class="showcase-item__link" href="http://">
      <h3 class="showcase-item__title">Logo Pizza</h3>
      <p class="showcase-item__description">Hot &amp; ready logos for sale</p>
      <img class="showcase__banner__image"
        src="https://metafizzy.co/img/2017/logo-pizza-vol2-banner.png"
        alt="Logo Pizza vol. 2" />
    </a>
  </div>

  <ul class="showcase-item-list">
    {{#unless isotope}}
      {{> showcase-item
        title="Isotope"
        description="Filter & sort magical layouts"
        isIsotopeItem=true
        url="https://isotope.metafizzy.co"
      }}
    {{/unless}}

    {{#unless infiniteScroll}}
      {{> showcase-item
        title="Infinite Scroll"
        description="Automatically add next page"
        isInfiniteScrollItem=true
        url="https://infinite-scroll.com"
      }}
    {{/unless}}

    {{#unless flickity}}
      {{> showcase-item
        title="Flickity"
        description="Touch, responsive, flickable carousels"
        isFlickityItem=true
        url="https://flickity.metafizzy.co"
      }}
    {{/unless}}

    {{#unless packery}}
      {{> showcase-item
        title="Packery"
        description="Gapless, draggable grid layouts"
        isPackeryItem=true
        url="https://packery.metafizzy.co"
      }}
    {{/unless}}

    {{#unless fizzy-school}}
      {{> showcase-item
        title="Fizzy School"
        description="Lessons in JavaScript for jQuery newbies"
        isFizzySchoolItem=true
        url="http://fizzy.school"
      }}
    {{/unless}}

    {{#unless logo-pizza}}
      {{! showcase-item
        title="Logo Pizza"
        description="Hot & ready logos for sale"
        isLogoPizzaItem=true
        url="http://logo.pizza"
      }}
    {{/unless}}

  </ul> {{! .showcase-item-list }}

</div>
