/* showcase
------------------------- */

.showcase-item-list {
  padding: 0;
  list-style: none;
}

.showcase-item-list:after {
  content: '';
  display: block;
  clear: both;
}

.showcase-item .infinite-scroll-illo {
  padding: 5px;
}

.showcase__banner__image {
  display: block;
  max-width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}
