<div class="top-banner">
  <a class="top-banner__link" href="https://infinite-scroll.com">
    <div class="container">
      New! Infinite Scroll v3 &middot; Back &amp; refresh button friendly
    </div>
  </a>
</div>
