<div class="top-banner">
  <a class="top-banner__link" href="http://logo.pizza">
    <div class="container">
      <span class="top-banner__link__text">
        New! Logo Pizza vol. 2. 50 logos hot &amp; ready for sale.
      </span>
    </div>
  </a>
</div>
